/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY

html {
    box-sizing: border-box;
}

body {
  margin: 0;
  background: #45badd;
}

.container {
  height: 100vh;
  width: 100vw; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/robot.gif');
  background-size: contain; 
  background-position: left center; 
  background-repeat: no-repeat;
}

.header-text{
  text-align:center;
  color:#fff;
  line-height:1;
}
.header-text h1{
  font-family:'Montserrat Alternates', sans-serif;
  font-size:3rem;
  text-shadow:0 0.2rem 0.5rem rgba(0,0,0,0.4);
}

.warning-text p{
  font-family:'Montserrat',sans-serif;
  font-size:.8rem;
  font-weight:600;
  text-shadow:0 0.2rem 0.5rem rgba(0,0,0,0.4);
}

.flex-container{
  height:70vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}





button{
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px; 
  font-family: 'Courier New', Courier, monospace; 
  font-size: 20px; 
  color: white; 
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.5); 
}

button:hover {
  filter: brightness(95%)
}

button:active {
  transform: scale(0.97);
}

button:disabled {
  cursor: default;
  filter: brightness(30%); 
}

/* .jokeTypes {
  margin-top: 1rem;
  transform: scale(0.95);
}

.jokeTypes button {
  margin: 5px;
} */

/* Media Query: Tablet or Smaller */
/* @media screen and (max-width: 1000px) {
  .container {
    background-size: cover; 
    background-position: center center;
  }

  .button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5); 
  }
} */ 
